<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find fishbot_description)/urdf/fish_bot/common_intertial.xacro" />
        <xacro:macro name="laser_xacro" params="xyz">
        <!-- 雷達支撐桿 -->
            <link name="laser_cylinder_link">
            <!-- 部件的外觀描述 -->
            <visual>

                <!-- 沿著自己集合中心的偏移與旋轉量 -->
                <origin xyz="0 0 0" rpy="0 0 0" />

                <!-- 幾何形狀 -->
                <geometry>
                    <cylinder radius="0.01" length="0.10"/>
                </geometry>

                <!-- 材質顏色 -->
                <material name="black">
                    <color rgba="0.0 0.0 0.0 1.0"/>
                </material>
            </visual>
            <collision>
                <!-- 沿著自己集合中心的偏移與旋轉量 -->
                <origin xyz="0 0 0" rpy="0 0 0" />

                <!-- 幾何形狀 -->
                <geometry>
                    <cylinder radius="0.01" length="0.10"/>
                </geometry>

                <!-- 材質顏色 -->
                <material name="black">
                    <color rgba="0.0 0.0 0.0 1.0"/>
                </material>
            </collision>

            <!-- 單位為千克kg -->
            <xacro:cylinder_inertia m="0.05" r="0.01" h="0.10" />
        </link>

        <!-- 雷達 -->
            <link name="laser_link">
            <!-- 部件的外觀描述 -->
            <visual>

                <!-- 沿著自己集合中心的偏移與旋轉量 -->
                <origin xyz="0 0 0" rpy="0 0 0" />

                <!-- 幾何形狀 -->
                <geometry>
                    <cylinder radius="0.02" length="0.02"/>
                </geometry>

                <!-- 材質顏色 -->
                <material name="black">
                    <color rgba="0.0 0.0 0.0 1.0"/>
                </material>
            </visual>
            <collision>
                <!-- 沿著自己集合中心的偏移與旋轉量 -->
                <origin xyz="0 0 0" rpy="0 0 0" />

                <!-- 幾何形狀 -->
                <geometry>
                    <cylinder radius="0.02" length="0.02"/>
                </geometry>

                <!-- 材質顏色 -->
                <material name="black">
                    <color rgba="0.0 0.0 0.0 1.0"/>
                </material>
            </collision>

            <!-- 單位為千克(kg) -->
            <xacro:cylinder_inertia m="0.10" r="0.02" h="0.02" />
        </link>

        <!-- 把雷達固定到雷達支撐桿上 -->
        <joint name="laser_joint" type="fixed">
            <parent link="laser_cylinder_link"/>
            <child link="laser_link"/>
            <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 0.0"/>
        </joint>

        <!-- 把雷雷達支撐桿固定到機器人上 -->
        <joint name="laser_cylinder_joint" type="fixed">
            <parent link="base_link"/>
            <child link="laser_cylinder_link"/>
            <origin xyz="${xyz}" rpy="0.0 0.0 0.0"/>
        </joint>

        <!-- reference  參考部件的名字 -->
        <!-- material  材質 -->
        <gazebo reference="laser_cylinder_link">
            <material>Gazebo/Black</material>
        </gazebo>
        <gazebo reference="laser_link">
            <material>Gazebo/Black</material>
        </gazebo>
    </xacro:macro>
</robot>